.html {
    font-size: 16px;
}


.main_container {
    background-color: aqua;
    margin-left: 220px;
    margin-right: 220px;
}

.ben_image_div_container {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
}


.ben_image_text {
    background-color: green;
    margin-top: 60px;
    padding: 10px;
    margin-right: 300px;
   

}

.ben_name {
    font-size: 6rem;
}

.ben_titles {

}

.ben_image_div {
    background-image: url("testimage.jpg");
    background-color: green;
    margin-top: 60px;
    padding: 10px;
    height: 400px;
    width: 400px;
    
}
.ben_image {
    width: auto;
    height: 100%;
    min-width: 75%;
    min-height: 75%;
}


.ben_skills_container {
    display: flex;
    flex-direction: row;
}

.ben_skills_div {
    background-color: green;
    margin-top: 60px;
    padding: 10px;
    margin-right: 300px;
   

}

.ben_projects_container {
    display: flex;
    flex-direction: row;

}

.ben_projects_div {
    background-color: green;
    margin-top: 60px;
    padding: 10px;
    margin-right: 300px;


}
.ben_skill_tile_conatiner {
    display: flex;
    flex-direction: row;

}

.ben_skills_tile {
    background-color: green;
    margin: 20px;
    padding: 10px;
    


}


.ben_contact_container {
    display: flex;
    flex-direction: row;

}

.ben_contact_div {
    background-color: green;
    margin-top: 60px;
    padding: 10px;
    margin-right: 300px;


}
