.ben_image {

    width: 100%;
    height: 100%;
}

.ben_image_div {
    margin: 60px;
    padding: 10px;
    height: 400px;
    width: 400px;
    
}

.ben_image_div_container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}