.ben_image {
    
    width: 100%;
    height: auto;
}

.ben_image_div {
    
    margin: 60px;
    padding: 10px;
    height: 400px;
    width: 400px;
    
}

.ben_image_div_container {
    display: flex;
    background-size: cover;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.ben_image_text {
    margin: 60px;
    padding: 10px;
    height: 400px;
    width: 400px;

}

.ben_skills_container {
    display: flex;
    background-size: cover;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.ben_skills_div {
    margin: 60px;
    padding: 10px;
    height: 400px;
    width: 400px;

}